<div class="hamburger-menu">
  <div class="span"></div>
  <div class="span"></div>
  <div class="span"></div>
</div>
<div class="nav-wrapper">
  <div class="width">
    <div class="nav">
      <a href="/">
        <img class="img-logo" src="/images/visign-logo.svg"
          alt="Visign.co.ke logo" /></a>
      <div class="nav-menu">
        <p class="menu-links"><a href="/">Home</a></p>
        <p class="menu-links"><a href="/about">About</a></p>
        <p class="menu-links"><a href="/contact">Contact</a></p>
        <p class="menu-links"><a href="/blogs">Blogs</a></p>
      </div>
    </div>
  </div>
</div>