<html lang="en">

<head>
    <%- include('./partials/head'); %>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/test.css">
        <title>Document</title>
</head>

<body>
    <header>
        <%- include('./partials/nav'); %>
    </header>
    <section class="about-us">
        <h1 class="about-us__h1 about-us__h1--align about-us__h1--color">Getting
            to
            know visign.
        </h1>
        <h2 class="about-us__h2 about-us__h2--align">
            We are a graphic and web design company based in Nairobi.
        </h2>
        <article class="about-us__article">
            <div class="about-us__container about-us__container--bg1">
                <img class="about-us__img" src="/images/banner-image.png"
                    alt="about visign image">
            </div>
            <div class="about-us__container about-us__container--bg2">
                <div>
                    <h3 class="about-us__h3 about-us__h3--white">
                        About
                    </h3>
                    <h3 class="about-us__h3 about-us__h3--blue">Visign Studio
                    </h3>
                    <p class="about-us__p about-us__p--color">
                        We set out to provide professional brand development,
                        professional printing and supply of branded merchandise
                        services to SMEs at an affordable price.
                    </p>
                </div>
            </div>
        </article>
        <div class="about-us__more">
            <h2 class="about-us__more__h2 ">
                Brand your business and build an audience.
            </h2>
            <p class="about-us__more__p ">
                We help you establish your brand, look like a pro and rise the
                ranks of search engines.
            </p>
        </div>
    </section>
    </article>
    <div class="about-description">
        <div class="about-desctiption__content">
            <div
                class="about-description__item about-description__item--text-align">
                <h4 class="about-description__h4">Design</h4>
                <p
                    class="about-description__p about-description__p--color about-description__p--modify">
                    We offer all types of graphic design services. Creative
                    design helps create trust and confidence in a company’s
                    ability to meet the customers expectation.
                </p>
            </div>
            <div
                class="about-description__item about-description__item--text-align">
                <h4 class="about-description__h4">Web dev</h4>
                <p
                    class="about-description__p about-description__p--color about-description__p--modify">
                    We develop brand centred websites. Websites that uniquely
                    represent your business. It gives SMEs a fighting chance to
                    compete with the established giants in their industry
                </p>
            </div>
            <div
                class="about-description__item about-description__item--text-align">
                <h4 class="about-description__h4">Branding</h4>
                <p
                    class="about-description__p about-description__p--color about-description__p--modify">
                    We supply our customers branding and promotional collateral.
                    Skilful branding will elevate and differentiate not just
                    you,
                    but your clients as well.
                </p>
            </div>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>

</html>